<?- include('../layout/header.ejs') ?>

  <div class="row">
    <div class="col-lg-6 col-12 m-auto">
      <form id="loginForm">

        <h3 class="text-center display-4 my-5">Login</h3>

        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" id="email" >
        </div>

        <div class="form-group mb-3">
          <label for="password">password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" id="loginBtn">Login &nbsp; <i class="fas fa-key"></i></button>
        </div>

      </form>

      <h6 class="mt-4">Don't have an account? <a href="/register">Create account <i class="fas fa-user-alt"></i></a></h6>

    </div>
  </div>

<?- include('../layout/footer.ejs') ?>